$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$white: #fff;

$text-color: #2a2a2a;

$form-border-color: #292929;

$promotion-overlay-color: rgba(42, 42, 42, 0.3);
$promotion-primary-color: #e8edf7;
$promotion-secondary-color: #fbf3f7;

// TIMING VARIABLES (for transitions in mixins)

$veryShortInterval: 0.3s;
$shortInterval: 0.7s;

// BREAKPOINTS (set according to bootstrap grid table -> https://getbootstrap.com/docs/4.0/layout/grid/)
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
