$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$white: #fff;

$text-color: #2a2a2a;

$form-border-color: #292929;

// TIMING VARIABLES (for transitions in mixins)

$veryShortInterval: 0.3s;
$shortInterval: 0.7s;
