$header-topbar-bg: #864343;
$header-bg: #723636;
$header-box-shadow-color: rgba(1, 2, 2, 0.2);

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$white: #fff;

$text-color: #2a2a2a;

$form-border-color: #292929;
