$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$white: #fff;

$text-color: #2a2a2a;

$form-border-color: #292929;


$background-color-animation-time: 250ms;
$color-animation-time: 250ms;

%hover-animation-time {
  transition: background-color $background-color-animation-time;
  transition: color $color-animation-time;
}
