<div class="section--hot-deals">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="fas $fa-var-eye"></i></a>
              <a href="#" class="btn-active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price btn-main-small no-hover"><s>$ 350.00</s></div>
            <div class="price btn-main-small no-hover">$ 300.00</div>
          </div>
        </div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</div>
