<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="boxes bigger-box">
          <div class="box-overlay">
            <p class="box-one-first-line">GUEST ROOM</p>
            <p class="box-one-second-line">SOFA</p>
            <p class="box-one-third-line">-20%</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="boxes">
          <div class="smaller-box-above fit-flex">
            <div class="inbox-item inbox-item-left"></div>
            <div class="inbox-item inbox-item-center">
              <p class="box-two-first-line">
                <span class="bold-word">OFFICE</span> CHAIR
              </p>
              <p class="box-two-second-line">COLLECTION</p>
              <p class="box-two-third-line">$200.00</p>
            </div>
            <div class="inbox-item inbox-item-right"></div>
          </div>

          <div class="smaller-box-below fit-flex">
            <div class="inbox-item-small inbox-item-small-left"></div>
            <div class="inbox-item-small">
              <p class="box-three-first-line">
                <span class="bold-word">SPECIAL</span> COLLECTION
              </p>
              <p class="box-three-second-line">SAVE UP 45% OF FURNITURE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
