<div class="section-promotion">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="boxes bigger-box">
          <div class="box-overlay">
            <p>Guest room</p>
            <p>Sofa</p>
            <p>-20%</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="boxes">
          <div class="smaller-box smaller-box-above fit-flex">
            <div class="inbox-item inbox-item-left"></div>
            <div class="inbox-item inbox-item-center">
              <p><span>OFFICE</span> CHAIR</p>
              <p>COLLECTION</p>
              <p>$200.00</p>
            </div>
            <div class="inbox-item inbox-item-right"></div>
          </div>

          <div class="smaller-box smaller-box-below fit flex">
            <div class="inbox-item-small inbox-item-small-left"></div>
            <div class="inbox-item-small">
              <p><span>SPECIAL</span>COLLECTION</p>
              <p>SAVE UP 45% OF FURNITURE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
