<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li><a href="#" data-category="bed" class="tab-trigger">Bed</a></li>
            <li><a href="#" data-category="chair" class="tab-trigger">Chair</a></li>
            <li><a href="#" data-category="sofa" class="tab-trigger">Sofa</a></li>
            <li><a href="#" data-category="table" class="tab-trigger">Table</a></li>
            <li><a href="#" data-category="dining" class="tab-trigger">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li><a class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="new-furniture-list" data-category="bed">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/bed1l.png"
                alt="white bed"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="demo">
                <span class="full"></span> <span class="full"></span>
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/bed2l.png"
                alt="wood bed"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Bed</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/bed3l.png"
                alt="bed"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Bed</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price btn-main-small no-hover"><s>$ 30.00</s></div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-furniture-list" data-category="chair">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/chair1l.png"
                alt="brown chair"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/chair2l.png"
                alt="green chair"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Chair</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-furniture-list" data-category="sofa">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/sofa1l.png"
                alt="lazure sofa"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <span class="full"></span> <span class="full"></span>
                  <span href="#"></span> <span href="#"></span> <span href="#"></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/sofa2l.png"
                alt="brown-sofa"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Sofa</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-furniture-list" data-category="table">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/table4l.png"
                alt="white table"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <span class="full"></span> <span class="full"></span>
                  <span href="#"></span> <span href="#"></span> <span href="#"></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/table2l.png"
                alt="regular table"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Table</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-active"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-furniture-list" data-category="dining">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/table3l.png"
                alt="table"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="content">
                <h5>table</h5>
                <div class="stars">
                  <span class="full"></span> <span class="full"></span>
                  <span href="#"></span> <span href="#"></span> <span href="#"></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="product-box">
            <div class="photo">
              <img
                src="images/furnitures/chair3l.png"
                alt="white-hair"
                class="furniture-photo"
              />
              <div class="sale">sale</div>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Dining</h5>
              <div class="stars">
                <span class="full"></span> <span class="full"></span>
                <span href="#"></span> <span href="#"></span> <span href="#"></span>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
