<div class="section-gallery">
  <div class="container">
    <div class="row">
      <div class="gallery-box col-6">
        <div class="panel-bar">
          <div class="row no-gutters">
            <div class="heading"><h3>FURNITURE GALLERY</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="gallery-active">
          <div class="gallery-picture">
            <div class="gallery-tabs">
              <ul class="my-tab-list">
                <li class="tab-name"><p>featured</p></li>
                <li class="tab-name my-active "><p>top seller</p></li>
                <li class="tab-name"><p>sale off</p></li>
                <li class="tab-name"><p>top rated</p></li>
              </ul>
            </div>
            <div class="gallery-parts">
              <div class="gallery-topseller">
                <div class="gallery-actions">
                  <div class="action-icon">
                    <a href="#" class="btn-outline"> <i class="far fa-heart"></i> </a>
                  </div>
                  <div class="action-icon">
                    <a href="#" class="btn-outline">
                      <i class="fas fa-exchange-alt"></i>
                    </a>
                  </div>
                  <div class="action-icon">
                    <a href="#" class="btn-outline"> <i class="far fa-eye"></i> </a>
                  </div>
                  <div class="action-icon">
                    <a href="#" class="btn-outline">
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="circle-price">
                  <p class="current-price">$120.00</p>
                  <p class="previous-price">$160.00</p>
                </div>
              </div>
            </div>
            <div class="gallery-slider"></div>
          </div>
        </div>
      </div>
      <div class="col-6 gallery-big-photo"></div>
    </div>
  </div>
</div>
