<div class="section-gallery">
  <div class="container">
    <div class="row">
      <div class="gallery-box col-6">
        <div class="panel-bar">
          <div class="row no-gutters">
            <div class="heading"><h3>FURNITURE GALLERY</h3></div>
            <div class="col"></div>
          </div>
        </div>

        <div class="gallery-picture">
          <div class="gallery-tabs">
            <ul class="my-tab-list">
              <li class="tab-name"><p class="gallery-tab-text">featured</p></li>
              <li class="tab-name my-active ">
                <p class="gallery-tab-text">top seller</p>
              </li>
              <li class="tab-name"><p class="gallery-tab-text">sale off</p></li>
              <li class="tab-name"><p class="gallery-tab-text">top rated</p></li>
            </ul>
          </div>

          <div class="gallery-parts">
            <div class="gallery-topseller">
              <div class="gallery-actions">
                <div class="action-box">
                  <a href="#" class="btn-outline action-icon">
                    <i class="far fa-heart"></i>
                  </a>
                  <span class="tooltip-box">Text in tooltip</span>
                </div>

                <div class="action-box">
                  <a href="#" class="btn-outline action-icon">
                    <i class="fas fa-exchange-alt"></i>
                  </a>
                  <span class="tooltip-box">Text in tooltip</span>
                </div>

                <div class="action-box">
                  <a href="#" class="btn-outline action-icon">
                    <i class="far fa-eye"></i>
                  </a>
                  <span class="tooltip-box">Text in tooltip</span>
                </div>

                <div class="action-box">
                  <a href="#" class="btn-outline action-icon">
                    <i class="fas fa-shopping-basket"></i>
                  </a>
                  <span class="tooltip-box">Text in tooltip</span>
                </div>

                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>

                <div class="circle-price">
                  <p class="current-price">$120.00</p>
                  <p class="previous-price">$160.00</p>
                </div>
              </div>
            </div>
          </div>

          <div class="gallery-slider">
            <div class="gallery-arrow-box"><i class="fas fa-chevron-left"></i></div>
            <div class="gallery-slide-box slider-active">
              <img src="images/redChairNice.png" alt="redChairNice" />
            </div>
            <div class="gallery-slide-box">
              <img src="images/blackChair2.png" alt="blackChair" />
            </div>
            <div class="gallery-slide-box">
              <img src="images/chairBlue.png" alt="chairBlue" />
            </div>
            <div class="gallery-slide-box">
              <img src="images/RollingChair.png" alt="RollingChair" />
            </div>
            <div class="gallery-slide-box">
              <img src="images/WoodChair.png" alt="WoodChair" />
            </div>
            <div class="gallery-slide-box">
              <img src="images/OfficeChair.png" alt="OfficeChai" />
            </div>
            <div class="gallery-arrow-box"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-6 gallery-big-photo">
        <div class="gallery-box-image">
          <div class="gallery-box-text">
            <p class="first-line-text">from<span class="big-price"> $50.80</span></p>
            <p class="second-line-text">bedroom bed</p>
            <button href="#" class="shop-now-btn">shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
