<div class="section--brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="brands-box">
          <div class="brands-slider">
            <div class="brands-arrow-box">
              <a href="#"><i class="fas fa-chevron-left"></i></a>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo1.png" alt="brand-image" />
              </div>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo2.png" alt="brand-image" />
              </div>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo3.png" alt="brand-image" />
              </div>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo4.png" alt="brand-image" />
              </div>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo5.png" alt="brand-image" />
              </div>
            </div>
            <div class="logo-box">
              <div class="logo">
                <img src="../images/brands/Logo1.png" alt="brand-image" />
              </div>
            </div>
            <div class="brands-arrow-box">
              <a><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
