<div class="section--brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="brands-box">
          <div class="brands-slider">
            <div class="brands-arrow-box">
              <a href="#"><i class="fas fa-chevron-left"></i></a>
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo1.png" alt="Mati company logo :)" />
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo2.png" alt="Dzesika company logo :)" />
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo3.png" alt="Daniel company logo :)" />
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo4.png" alt="Kamil company logo :)" />
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo5.png" alt="Miro company logo :)" />
            </div>
            <div class="logo-box">
              <img src="images/brands/Logo1.png" alt="Mati company logo :)" />
            </div>
            <div class="brands-arrow-box">
              <a href="#"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
