<div class="section--feed">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <i class="fas fa-quote-right"></i>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <p class="text-center post-info mt-3 mb-4">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="media justify-content-center">
          <img src="./images/feed1.png" class="mr-3" alt="client photo" />
          <div class="media-body">
            <p class="mt-1 mb-0 client">John</p>
            <p class="mt-0 mb-1">Furniture clietn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
