.btn-main {
  background-color: $color-black;
  color: $color-white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  @include hover {
    &:not(.no-hover):hover {
      color: $color-white !important;
      background-color: $primary;
      text-decoration: none;
    }
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $color-black;
  color: $color-black;
  font-size: 13px;
  line-height: 22px;

  @include hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:active {
    color: $color-active;
  }
}

.btn-active {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $color-active;
  color: $color-active;
  font-size: 13px;
  line-height: 22px;
  @include hover {
    background-color: $color-black;
    border-color: $color-black;
  }
}
