.btn-main {
  background-color: $footer-claim-bg;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  @include hover-only {
    &:not(.no-hover):hover {
      color: $white;
      background-color: $primary;
      text-decoration: none;
    }
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $footer-claim-bg;
  color: $footer-claim-bg;
  font-size: 13px;
  line-height: 22px;

  @include hover-only {
    background-color: $footer-claim-bg;
    color: $white;
  }

  &:active {
    color: $primary;
  }
}

.btn-active {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $primary;
  color: $primary;
  font-size: 13px;
  line-height: 22px;
  background-color: $white;
  @include hover-only {
    background-color: $footer-claim-bg;
    border-color: $footer-claim-bg;
  }
}
