.carousel {
  width: 100%;
  margin: 0;
  overflow: hidden;

  &-container {
    padding: 0;
  }

  &-box,
  &-box-posts {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    @include fade;
    flex-wrap: nowrap;
  }

  &-tile {
    @include fade;
  }
}
