header {
  .top-bar {
    background-color: $header-topbar-bg;

    .space-between {
      justify-content: space-between;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .space-between {
      justify-content: space-between;
    }

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          color: $primary;
          margin-top: -3px;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 14px;
          padding-left: 10px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .top-bar {
      .phone-hidden {
        display: none;
      }

      .text-left {
        ul {
          padding-left: 15px;
        }

        li {
          margin-right: 15px;
          
          i {
            margin-left: 5px;
          }
        }
      }

      .text-right {
        ul {
          padding-right: 15px;
        }
        
        li {
          margin-left: 10px;

          i {
            margin-right: 5px;
          }
        }
      }
    }
    .company-claim {
      position: relative;
      .center {
        flex-wrap: wrap;
      }

      .logo {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        padding-left: 15px;
        order: 1;
        img {
          width: 90%;
        }
      }

      .phone-number {
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        padding-right: 15px;
        order: 2;
        margin-bottom: 24px;
        
        p {
          font-size: 14px;
          
          i {
            font-size: 25px;
            margin-right: 3px;
          }
        }
      }

      .cart {
        text-align: center;
        position: absolute;
        display: inline-block;
        right: 15px;
        order: 2;
        top: 34px;
        .cart-icon {
          width: 45px;
          height: 40px;
          font-size: 18px;

          i {
            margin-right: 7px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .top-bar {
      .phone-hidden {
        display: inline-block;
        margin-left: 3px;
      }

      .text-left ul li {
        margin-right: 1.5rem;
        
        i {
          margin-left: 5px;
        }
      }

      .text-right ul li {
        margin-left: 1.5rem;
        
        i {
          margin-right: 5px;
        }
      }
      ul {
        padding: 0 15px;
      }
    }
    .company-claim {
      
      .center {
        align-items: center;
      }

      .logo {
        text-align: center;
        position: relative;
        padding: 0 15px;
        width: 200px;
      }

      .phone-number {
        text-align: left;
        position: relative;
        padding-left: 15px;
        width: 200px;
        
        p {
          font-size: 17px;
          
          i {
            font-size: 32px;
            vertical-align: middle;
            margin-right: 0.8rem;
          }
        }
      }

      .cart {
        text-align: right;
        position: relative;
        padding-right: 15px;
        width: 200px;
        
        .cart-icon {
          width: 55px;
          height: 50px;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
