%hover-animation-time {
  transition: background-color $background-color-animation-time;
  transition: color $color-animation-time;
}

.new-furniture-list {
  @extend %hover-animation-time;
  opacity: 0;
  display: none;

  &.show {
    opacity: 1;
  }

  &.fadeOut {
    opacity: 0;
  }
}
