.post-box {
  margin-bottom: 2rem;
  overflow: hidden;

  .cover {
    padding: 70% 25px 0 25px;
    position: relative;
    background: {
      size: cover;
      position: center;
    }

    .blog-photo {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;
      position: relative;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .post-info {
    padding: 25px;
    margin-bottom: 2rem;

    h5 {
      color: $text-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }

  &-link {
    color: $text-color;

    @include hover-only {
      &:hover {
        text-decoration: none;
        color: inherit;

        .btn-post {
          background: $primary;
        }

        h5 {
          color: $primary;
        }
      }
    }
  }
}
