.section-promotion {
  padding: 0 0 5rem;

  .bigger-box {
    padding: 30px;
    background-image: url("../images/whiteSofa.jpg");
    background-size: cover;
    background-position: center;

    .box-overlay {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      background: $promotion-box-overlay-color;
      color: $white;
      height: 100%;
      width: 100%;
      padding: 40px;

      .box-one-first-line {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        line-height: 0.9;
      }

      .box-one-second-line {
        font-size: 50px;
        font-weight: bold;
        margin: 0;
      }

      .box-one-third-line {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        width: 130px;
        display: flex;
        justify-content: center;
        border: 4px solid $white;
      }
    }
  }

  .smaller-box-above {
    background-color: $promotion-smaller-box-above-color;
    height: 195px;
    margin-bottom: 30px;

    .inbox-item-left {
      height: 100%;
      width: 35%;
      background-image: url("../images/redChairNice.png");
      background-size: 190px;
      background-position: 180px 9px;
    }
    .inbox-item-center {
      height: 100%;
      width: 40%;
      z-index: 10;
      padding: 0 20px;
      min-width: 120px;

      .box-two-first-line {
        font-size: 25px;
        padding-bottom: 0;
        margin: 0;
        .bold-word {
          font-weight: bold;
        }
      }

      .box-two-second-line {
        font-size: 17px;
        padding-bottom: 0;
        margin: 0;
      }

      .box-two-third-line {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 0;
        margin: 0;
        color: $primary;
      }
    }
    .inbox-item-right {
      height: 100%;
      width: 25%;
      background-image: url("../images/blackChair2.png");
      background-size: 165px;
      background-position: 150px 8px;
    }
  }

  .smaller-box-below {
    background-color: $promotion-smaller-box-below-color;
    height: 195px;

    .inbox-item-small-left {
      background-image: url("../images/bed-2.png");
      background-size: 340px;
      background-position: 270px 8px;
    }

    .inbox-item-small {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;

      .box-three-first-line {
        font-size: 23px;
        padding: 0 10px;
        margin: 0;
        color: $primary;
        .bold-word {
          font-weight: bold;
        }
      }

      .box-three-second-line {
        font-size: 17px;
        padding: 0 10px;
        margin: 0;
      }
    }
  }
}

.fit-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: $text-color;
}

.inbox-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxes {
  height: 420px;
}
