.section-promotion {
  padding: 0 0 5rem;

  .bigger-box {
    padding: 30px;
    background-image: url("../images/whiteSofa.jpg");
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }

    .box-overlay {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      background: $promotion-overlay-color;
      color: $white;
      height: 100%;
      width: 100%;
      padding: 40px;
      text-transform: uppercase;

      .box-one-first-line {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        line-height: 0.9;
      }

      .box-one-second-line {
        font-size: 50px;
        font-weight: bold;
        margin: 0;
      }

      .box-one-third-line {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        width: 130px;
        display: flex;
        justify-content: center;
        border: 4px solid $white;
      }
    }
  }

  .smaller-box-above {
    background-color: $promotion-primary-color;
    height: 195px;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }

    .inbox-item-left {
      height: 100%;
      width: 35%;
      background-image: url("../images/redChairNice.png");
      background-size: 190px;
      background-position: 0 9px;
      background-repeat: no-repeat;

      @include media-breakpoint-only(lg) {
        background-position: -5px 9px;
      }

      @include media-breakpoint-only(md) {
        background-size: 120px;
        background-position: 0 35px;
      }

      @media (max-width: 520px) {
        background-size: 150px;
        background-position: 0 25px;
      }

      @media (max-width: 430px) {
        width: 50%;
      }
    }

    .inbox-item-center {
      height: 100%;
      width: 30%;
      padding-left: 40px;
      min-width: 120px;
      text-transform: uppercase;

      @include media-breakpoint-only(lg) {
        padding-left: 25px;
        padding-right: 10px;
      }

      @include media-breakpoint-only(md) {
        padding-left: 15px;
      }

      @include media-breakpoint-only(sm) {
        padding-left: 30px;
      }

      @include media-breakpoint-only(xs) {
        padding-left: 25px;
      }

      @media (max-width: 430px) {
        width: 50%;
      }

      .box-two-first-line {
        font-size: 25px;
        padding-bottom: 0;
        margin: 0;

        .bold-word {
          font-weight: bold;
        }
      }

      .box-two-second-line {
        font-size: 17px;
        padding-bottom: 0;
        margin: 0;
      }

      .box-two-third-line {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 0;
        margin: 0;
        color: $primary;
      }
    }

    .inbox-item-right {
      height: 100%;
      width: 35%;
      background-image: url("../images/blackChair2.png");
      background-size: 165px;
      background-position: 30px 8px;
      background-repeat: no-repeat;

      @include media-breakpoint-only(lg) {
        background-position: 5px 8px;
      }

      @include media-breakpoint-only(md) {
        background-size: 110px;
        background-position: 0 35px;
      }

      @include media-breakpoint-only(sm) {
        background-position: 15px 8px;
      }

      @include media-breakpoint-only(xs) {
        background-position: 15px 8px;
      }

      @media (max-width: 520px) {
        background-size: 130px;
        background-position: 25px 25px;
      }

      @media (max-width: 430px) {
        display: none;
      }
    }
  }

  .smaller-box-below {
    background-color: $promotion-secondary-color;
    height: 195px;

    @include media-breakpoint-only(md) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 430px) {
      display: flex;
      flex-direction: column;
    }

    .inbox-item-small {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;

      @include media-breakpoint-only(lg) {
        padding: 20px;
      }

      .box-three-first-line {
        font-size: 23px;
        padding: 0 17px;
        margin: 0;
        color: $primary;

        .bold-word {
          font-weight: bold;
        }
      }

      .box-three-second-line {
        font-size: 17px;
        padding: 0 17px;
        margin: 0;
      }
    }

    .inbox-item-small-left {
      background-image: url("../images/bed-2.png");
      background-size: 340px;
      background-repeat: no-repeat;
      width: 65%;

      @include media-breakpoint-only(lg) {
        background-size: 280px;
        background-position: 0px 15px;
        width: 60%;
      }

      @include media-breakpoint-only(md) {
        min-height: 60%;
        width: 100%;
        background-size: 210px;
        background-position: 70px 0;
      }

      @include media-breakpoint-only(xs) {
        background-size: 260px;
        background-position: 0 30px;
        width: 55%;
      }

      @media (max-width: 520px) {
        background-size: 215px;
      }

      @media (max-width: 430px) {
        min-height: 60%;
        width: 100%;
        background-size: 210px;
        background-position: 50px 0;
      }
    }

    .inbox-item-small-right {
      width: 35%;
      padding-right: 20px;

      @include media-breakpoint-only(lg) {
        padding: 10px;
        width: 40%;
      }

      @include media-breakpoint-only(md) {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
      }

      @include media-breakpoint-only(xs) {
        width: 45%;
        padding: 0;
      }

      @media (max-width: 430px) {
        min-height: 40%;
        width: 100%;
        background-size: 210px;
        background-position: 10px 0;
        display: flex;
        align-items: center;
      }
    }
  }
}

.fit-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: $text-color;
}

.inbox-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxes {
  height: 420px;
}
